<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TurboChargedSearch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application.tailwind', 'data-turbo-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  </body>
</html>
